#container{
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px;
    grid-auto-rows: 200px;
}
.book{
    width: 180px;
    height: 160px;
    text-align: center;
    border-style: solid;
}